<head>
  <title>AppWall</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
  <h1 class="center-align">Welcome to AppWall</h1>
    <div class="container">
    {{> header}}
    {{> form}}
    {{> posts}}
    </div>
            </header>
</body>