<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Browsers read top to bottom. So we put custom files after the generic. -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="col-xm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <hr>
        <!-- subtitle -->
        <div id="contentSub"></div>
        <!-- /subtitle -->
        <div id="mw-content-text">
            <div class="mw-ui-container">
                <div id="userloginprompt"></div>
                <div id="userloginForm">
                    <form name="userlogin" class="mw-ui-vform" method="post" action="/index.php?title=Special:UserLogin&amp;action=submitlogin&amp;type=login&amp;returnto=Main+Page">
                        <section class="mw-form-header">
                        </section>


                        <div class="mw-ui-vform-field">
                            <label for="wpName1">
                                Username </label>
                            <input class="loginText mw-ui-input" id="wpName1" tabindex="1" placeholder="Enter your username" value="HragKri" name="wpName"> </div>

                        <div class="mw-ui-vform-field">
                            <label for="wpPassword1">
                                Password </label>
                            <input class="loginPassword mw-ui-input" id="wpPassword1" tabindex="2" autofocus="" placeholder="Enter your password" type="password" name="wpPassword"> </div>



                        <div class="mw-ui-vform-field">
                            <div class="mw-ui-checkbox">
                                <input name="wpRemember" type="checkbox" value="1" id="wpRemember" tabindex="4">
                                <label for="wpRemember">
                                    Keep me logged in</label>
                            </div>
                        </div>

                        <div class="mw-ui-vform-field">
                            <input id="wpLoginAttempt" name="wpLoginAttempt" tabindex="6" type="submit" value="Log in" class="mw-ui-button mw-ui-constructive"> </div>


                        <div id="mw-createaccount-cta" class="mw-form-related-link-container mw-ui-vform-field">
                            Don't have an account?<a href="/index.php?title=Special:UserLogin&amp;type=signup&amp;returnto=Main+Page" id="mw-createaccount-join" tabindex="7" class="mw-ui-button mw-ui-progressive">Join AppWall</a>
                        </div>
                        <input type="hidden" value="e1eeb31cb42a5b6858cfeb14f81e178f" name="wpLoginToken"> </form>
                </div>
            </div>
        </div>
    </div>
</body>