<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Browsers read top to bottom. So we put custom files after the generic. -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="col-xm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <hr>
        <!-- subtitle -->
        <div id="contentSub"></div>
        <!-- /subtitle -->
        <div id="mw-content-text">
            <div class="mw-ui-container">
                <div id="userloginForm">
                    <form name="userlogin2" id="userlogin2" class="mw-ui-vform" method="post" action="/index.php?title=Special:UserLogin&amp;action=submitlogin&amp;type=signup&amp;returnto=Main+Page">
                        <section class="mw-form-header">
                        </section>
                        <!-- This element is used by the mediawiki.special.userlogin.signup.js module. -->
                        <div id="mw-createacct-status-area" style="display: none;">
                        </div>

                        <div class="mw-ui-vform-field">
                            <label for="wpName2">
                                Username
                                <span class="mw-ui-flush-right"></span>
                            </label>
                            <input class="mw-ui-input loginText" id="wpName2" tabindex="1" size="20" placeholder="Enter your username" name="wpName"> </div>

                        <div class="mw-ui-vform-field">
                        </div>

                        <div class="mw-ui-vform-field mw-row-password">
                            <label for="wpPassword2">Password</label>
                            <input class="mw-ui-input loginPassword" id="wpPassword2" tabindex="3" size="20" placeholder="Enter a password" type="password" name="wpPassword"> </div>


                        <div class="mw-ui-vform-field mw-row-password">
                            <label for="wpRetype">Confirm password</label>
                            <input class="mw-ui-input loginPassword" id="wpRetype" tabindex="5" size="20" placeholder="Enter password again" type="password" name="wpRetype"> </div>

                        <div class="mw-ui-vform-field">
                            <label for="wpEmail">
                                Email address (optional) </label>
                            <input class="mw-ui-input loginText" id="wpEmail" tabindex="6" size="20" placeholder="Enter your email address" type="email" name="wpEmail"> </div>

                        <div class="mw-ui-vform-field">
                            <label for="wpRealName">Real name (optional)</label>
                            <input type="text" class="mw-ui-input loginText" name="wpRealName" id="wpRealName" tabindex="7" value="" size="20">
                            <div class="prefsectiontip">
                                <p>Real name is optional. If provided, it may be used to give you attribution for your work.
                                </p>
                            </div>
                        </div>


                        <div class="mw-ui-vform-field mw-submit">
                            <input id="wpCreateaccount" name="wpCreateaccount" tabindex="10" type="submit" value="Create your account" class="mw-ui-button mw-ui-block mw-ui-constructive"> </div>
                        <input type="hidden" name="wpCreateaccountToken" value="e07dac1b714dda35c09f085406097be4"> </form>
                </div>

            </div>
        </div>
    </div>
</body>