<template name="header">
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="wiki.theappacademy.us">App Academy</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">AppWall</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="login.html">Log In</a></li>
      <li><a href="signin.html">Sign In</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</template>
<template name="form">
    <form class="add-new-post">
        <input value="" id="name" type="text" class="validate">
        <label class="active" for="message">Name</label>
        <input value="" id="message" type="text" class="validate">
        <label class="active" for="message">Subject</label>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn">submit</button>
        </div>

    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}

        <div class="grid-item">
            {{updateMasonry}}
            <img src="{{this.url}}" />
        </div>
        {{this.name}} {{/each}}
    </div>
</template>