.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.center-button {
 text-align: center;   
}

body {
 background-image: url("http://grace-outreach.net/wp-content/uploads/2013/02/wooden-background-1920x1200.jpg");
}

.nav-wrapper {
 background-color: lightseagreen;
}

.btn {
 background-color: lightseagreen;   
}

#logo {
    /*our name and descrition of who we are.*/
    margin: 0;
    text-align: center;
}